@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../static/images/designer_1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-size: 60% 100%;
}

/* Navigation bar start */
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.nav {
    height: 100%;
    margin: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo a{
    color: #37447E;
    line-height: 38px;
    font-size: 26px;
}
.nav__right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__nenu {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav a {
    text-decoration: none;
}
.nav__nenu a {
    font-size: 14px;
    line-height: 24px;
    color: #505F98;
}
.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 26px;
    background-color: #111B47;
    color: #fff;
    line-height: 18px;
    word-spacing: 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0.325rem;
}
/* Navigation bar end */

/* -------------------- */

/* Hero section start */
.hero__section {
    height: 100%;
    margin: 0 8rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hero__section .hero__content{
   min-width: 180px;
   max-width: 600px;
}
.hero__section .hero__content h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    word-spacing: 12px;
    color: #091133;
}
.hero__section .hero__content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 3px;
    color: #505F98;
}
.hero__section .hero__content__bottom{
    min-width: 0;
    max-width: 420px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 1.5rem;
}
.hero__section .hero__content__bottom a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    line-height: 26px;
    background-color: #111B47;
    font-size: 16px;
    word-spacing: 3px;
    border-radius: 0.25rem;
    border: 1px solid #091133;
    box-shadow: 0 0 3px #091133;
}
.hero__section .hero__content__bottom a:last-child{
    background-color: #fff;
    color: #091133;
}
/* Hero section end */